{:deps
 {funcool/promesa {:mvn/version "11.0.671"} 
  clj-http/clj-http {:mvn/version "3.12.3"} 
  com.taoensso/timbre {:mvn/version "6.2.2"}}

 :aliases
 {:virtual
  {:exec-fn fuzz.core/main
   :jvm-opts [ "--enable-preview" "--add-modules" "jdk.incubator.concurrent"]}}}
